.rootPane {
    -fx-background-image: url("../images/backgrounds/setup.png");
    -fx-background-size: stretch;
}

.card-selected {
    -fx-effect: dropshadow(gaussian, #FDC309, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.card:hover {
    -fx-effect: dropshadow(gaussian, #FDC309, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}


.btn{
    -fx-border-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.btn-disabled{
    -fx-background-image: url("../images/buttons/continue_disabled.png");
}

.btn-active{
    -fx-background-image: url("../images/buttons/continue.png");
}

.btn-active:hover {
    -fx-effect: dropshadow(gaussian, #FDC309, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

