.rootPane {
    -fx-background-image: url("../images/backgrounds/blue.png");
    -fx-background-size: stretch;
}

.developmentcard {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.28), 10, 0.7, 0, 1);
}

.selectable{
    -fx-opacity: 1 !important;
}

.selectable:hover {
    -fx-effect: dropshadow(gaussian, #FDC309, 20, 0.3, 0, 0) !important;
    -fx-cursor: hand;
}

.btn{
    -fx-border-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/buttons/continue.png");
}

.btn:hover {
    -fx-effect: dropshadow(gaussian, #FDC309, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}