.rootPane {
    -fx-background-image: url("../images/backgrounds/setup.png");
    -fx-background-size: stretch;
}

.lbl{
    -fx-font-family: DominicanItalic;
    -fx-text-fill: #FDC309;
    -fx-font-size: 30px;
}

*{
    -fx-font-family: Arial;
}